@font-face {
  font-family: "PKMN RBYGSC";
  src: url("../font/PKMN RBYGSC.ttf");
}
:root {
  --red: #ff0000;
  --dark-red: #cc0000;
  --blue: #3b4cca;
  --yellow: #ffde00;
  --dark-yellow: #b3a125;
  --light-gray: #cccccc;
  --white: #f5f5f5;
}

* {
  margin: 0;
  font-family: "PKMN RBYGSC", sans-serif;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-y: scroll; /* Always show vertical scrollbar */
  height: 100vh;
  width: 100%;
  position: relative;
}

.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  top: 0;
}

/* scroll effect */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

nav {
  background-color: red;
  position: absolute;
  width: 100%;
}
nav .wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .wrapper .logo {
  height: 6rem;
}
nav .wrapper .search-bar {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: large;
}
nav .wrapper .search-bar #inputName {
  outline: none;
  border: none;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  font-size: medium;
  text-transform: capitalize;
  background: white;
}
nav .wrapper .search-bar #Search::-webkit-search-cancel-button {
  position: relative;
}
nav .wrapper .search-bar #searchButton {
  outline: none;
  border: none;
  font-weight: bolder;
  font-size: large;
  background: white;
}
nav .wrapper .search-bar #searchButton :hover {
  cursor: pointer;
}

.container {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .wrapper .card {
  width: 70%; /* Adjust width as needed */
  background-color: var(--light-gray);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
}
.container .wrapper .card .left-info,
.container .wrapper .card .right-info {
  flex: 1; /* Ensure equal width */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container .wrapper .card .left-info {
  background-color: var(--yellow);
  padding: 2rem 1rem;
  overflow: hidden;
  border-radius: 20px;
  box-sizing: border-box;
}
.container .wrapper .card .left-info #pokemon-img {
  border: solid 3px;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 18px;
  background-color: var(--white);
}
.container .wrapper .card .left-info #pokemon-name {
  font-weight: bolder;
  font-size: large;
  margin-bottom: 0.5rem;
}
.container .wrapper .card .left-info #pokemon-id {
  font-weight: bolder;
  font-size: large;
  margin-bottom: 0.5rem;
}
.container .wrapper .card .right-info {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 20px;
}
.container .wrapper .card .right-info #basic-stats,
.container .wrapper .card .right-info #combat-stats {
  border: solid 3px black;
  border-radius: 18px;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px;
  background-color: var(--white);
}
.container .wrapper .card .right-info h3 {
  grid-column: span 2;
  text-align: center;
  margin: 0 0 10px;
  padding: 10px 0;
}
.container .wrapper .card .right-info p {
  margin: 1rem;
  text-align: left;
}/*# sourceMappingURL=index.css.map */