@font-face {
  font-family: "PKMN RBYGSC";
  src: url("../font/PKMN\ RBYGSC.ttf");
}
:root {
  --red: #ff0000;
  --dark-red: #cc0000;
  --blue: #3b4cca;
  --yellow: #ffde00;
  --dark-yellow: #b3a125;
  --light-gray: #cccccc;
  --white: #f5f5f5;
}

* {
  margin: 0;
  font-family: "PKMN RBYGSC", sans-serif;
  animation-duration: 1000ms;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  overflow-y: scroll; /* Always show vertical scrollbar */
  height: 100vh;
  width: 100%;
  position: relative;
}
.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
}
/* scroll effect */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

nav {
  background-color: red;
  position: absolute;
  width: 100%;
  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .logo {
      height: 5rem;
    }
    .search-bar {
      background: white;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-size: large;
      #inputName {
        outline: none;
        border: none;
        font-weight: bolder;
        letter-spacing: 0.05rem;
        font-size: medium;
        text-transform: capitalize;
        background: white;
      }
      #Search::-webkit-search-cancel-button {
        position: relative;
      }
      #searchButton {
        outline: none;
        border: none;
        font-weight: bolder;
        font-size: large;
        background: white;
        :hover {
          cursor: pointer;
        }
      }
    }
  }
}

.container {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card {
      max-width: 70%; /* Adjust width as needed */
      background-color: var(--light-gray);
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      gap: 1rem;
      height: 100%;
      padding: 1rem;

      .left-info,
      .right-info {
        flex: 1; /* Ensure equal width */
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      }

      .left-info {
        background-color: var(--yellow);
        padding: 1rem;
        overflow: hidden;
        border-radius: 20px;
        box-sizing: border-box;
        #pokemonImg {
          border: solid 3px;
          width: 100%;
          height: auto;
          margin-bottom: 0.5rem;
          border-radius: 18px;
          background-color: var(--white);
        }
        #pokemonName {
          font-weight: bolder;
          font-size: large;
          margin-bottom: 0.5rem;
        }
        .pokemonId {
          font-weight: bolder;
          font-size: large;
          margin-bottom: 0.5rem;
          #pokemonId {
            padding-left: 0.3rem;
          }
        }
      }

      .right-info {
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        background-color: var(--blue);
        border-radius: 20px;

        #basic-stats,
        #combat-stats {
          border: solid 3px black;
          border-radius: 18px;
          padding: 10px;
          margin-bottom: 10px;
          display: grid;
          grid-template-columns: 1fr 1fr; /* Two equal columns */
          gap: 10px;
          background-color: var(--white);
        }

        h3 {
          grid-column: span 2;
          text-align: center;
          margin: 0 0 10px;
          padding: 10px 0;
        }

        p {
          margin: 1rem;
          text-align: left;
        }
      }
    }
  }
}

// Mobile view ----------------------------------------
nav {
  .search-bar {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.container {
  @media (max-width: 1024px) {
    height: auto;
  }
  .wrapper {
    @media (max-width: 1024px) {
      margin-top: 8rem;
    }
    .card {
      @media (max-width: 1024px) {
        flex-direction: column; // Mobile
        width: 50%;
      }
      #basic-stats,
      #combat-stats {
        @media (max-width: 1024px) {
          display: flex;
          padding: 0;
          margin: 0;
        }
        h3 {
          @media (max-width: 1024px) {
            margin: 0;
            padding: 0;
          }
        }
        p {
          @media (max-width: 1024px) {
            margin: 0.3rem;
            padding: 0;
          }
        }
      }
    }
  }
}
