@font-face {
  font-family: "PKMN RBYGSC";
  src: url("../font/PKMN\ RBYGSC.ttf");
}
:root {
  --red: #ff0000;
  --dark-red: #cc0000;
  --blue: #3b4cca;
  --yellow: #ffde00;
  --dark-yellow: #b3a125;
  --light-gray: #dcdcdc;
}

* {
  margin: 0;
  font-family: "PKMN RBYGSC", sans-serif;
  animation-duration: 1000ms;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  overflow-y: scroll; /* Always show vertical scrollbar */
  height: 100vh;
  width: 100%;
  position: relative;
}
.video-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
}
/* scroll effect */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// .wrapper {
//   max-width: 1440px;
//   width: 100%;
//   margin: 0 auto;
//   padding-left: 1rem;
//   padding-right: 1rem;
//   background-color: red;
// }

nav {
  background-color: red;
  position: absolute;
  width: 100%;
  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      height: 6rem;
    }
    .search-bar {
      background: white;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-size: large;
      #inputName {
        outline: none;
        border: none;
        font-weight: bolder;
        letter-spacing: 0.05rem;
        font-size: medium;
        text-transform: capitalize;
        background: white;
      }
      #Search::-webkit-search-cancel-button {
        position: relative;
      }
      #searchButton {
        outline: none;
        border: none;
        font-weight: bolder;
        font-size: large;
        background: white;
        :hover {
          cursor: pointer;
        }
      }
    }
  }
}

.container {
  border: solid 1px red;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px blue;
    .card {
      width: 70%; /* Adjust width as needed */
      background-color: #f0f0f0; /* will delete later just for contrast */

      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      gap: 1rem;
      height: 100%;
      .left-info {
        flex: 1;
        height: 100%;
        background-color: var(--yellow);
        padding: 2rem 1rem 2rem 1rem;
        overflow: hidden;
        border-radius: 20px;

        #pokemon-img {
          border: solid 3px;
          width: 100%;
          margin-bottom: 0.5rem;
          border-radius: 18px;
          background-color: #dcdcdc; /* A light gray, lighter than #f0f0f0 */
        }
        #pokemon-name {
          font-weight: bolder;
          font-size: large;
          margin-bottom: 0.5rem;
        }
        #pokemon-id {
          font-weight: bolder;
          font-size: large;
          margin-bottom: 0.5rem;
        }
      }
      .right-info {
        border: solid 1px red;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        box-sizing: border-box; // Ensure padding is included in width
      }

      #basic-stats,
      #combat-stats {
        border: solid 1px black;
        padding: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr; // Two equal columns
        gap: 10px; // Space between columns
      }

      #basic-stats h3,
      #combat-stats h3 {
        grid-column: span 2; // Make the header span across both columns
        text-align: center; // Center the header text
        margin: 0 0 10px; // Add margin below the header
      }

      #basic-stats p,
      #combat-stats p {
        margin: 0; // Remove default margins to align nicely in grid
      }
    }
  }
}
